<div class="container mt-5">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Activated</h5>
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
          <div class="form-row">
            <div class="col-6 mb-3 p-2">
              <input type="text" [className]="f.name.touched && f.name.errors ? 'form-control is-invalid' : f.name.touched ? 'form-control is-valid' : 'form-control'" placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name?.errors }">
              <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name?.errors.required">Name is required</div>
              </div>
            </div>
            <div class="col-6 mb-3 p-2">
              <input type="text" [className]="f.lastName.touched && f.lastName.errors ? 'form-control is-invalid' : f.lastName.touched ? 'form-control is-valid' : 'form-control'" placeholder="Last name"  formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f.lastName?.errors }">
              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName?.errors.required">Last name is required</div>
              </div>
            </div>
          </div>

        <div class="form-row">
          <div class="col-6 mb-3 p-2">
            <input type="text" formControlName="email" [className]="f.email.touched && f.email.errors ? 'form-control is-invalid' : f.email.touched ? 'form-control is-valid' : 'form-control'" [ngClass]="{ 'is-invalid': submitted && f.email?.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email?.errors.required">*Email is required</div>
            </div>
          </div>
          <!--<div class="col-6 mb-3 p-2">
              <input type="password" formControlName="pass" [className]="f.pass.touched && f.pass.errors ? 'form-control is-invalid' : f.pass.touched ? 'form-control is-valid' : 'form-control'" [ngClass]="{ 'is-invalid': submitted && f.pass?.errors }">
              <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
                <div *ngIf="f.pass?.errors.required">*Password is required</div>
              </div>
            </div>
          </div>-->
          <mat-form-field class="example-full-width">
            <div>
              <input matInput placeholder="Password" type="password" formControlName="pass" [ngClass]="{ 'is-invalid': submitted && f.pass?.errors }">
              <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
                <div *ngIf="f.pass?.errors.required">*Password is required</div>
              </div>
            </div>
          </mat-form-field>
        </div>
          <input type="submit" value="save" class="btn btn-success">
        </form>
    </div>
  </div>
</div>
